body{
    background-color: antiquewhite;
}
#header{
     text-align: center;
     font-size: 30px;
     height: 150px;
    
    }
    #navigation{
        text-align: right;
        font-size: 19px;
    }
    #content{
        text-align:center ;
        color: black;
        border: 2px solid black;
        background-image: url(/images/OIP\ \(3\).jpg);
        background-size: cover;
        width: 1700px;
        height: 700px;;
        padding: 20px;
        
    }
    #aboutus{
        text-align:center;
        font-size: 20px;
    }
       
      #code{
        text-align: center;
         }
       .content{
        display: flex;
        justify-content: space-around;
       }
       .aside{
        text-align: center;
       }
    #card1{
    max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    
    
    }
    #card2{
         max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    

    }
    #card3{
         max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    
    }
    #card4{
         max-width: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    
    }
    .nandhu{
        font-size: 50px;
        
    }
    .image{
        flex-direction: row;
        row-gap: 40px;
        max-width: 2000px;

    }
     #footer{
    text-align: center;
    background-color: rgb(153, 114, 114);
    color: thistle;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




    
    